#mainArea {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleContainer {
    width: 100%;
    flex: 2.5;

    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(207, 215, 255)
}

h1 {
    font-size: 40px;
    margin: 10px;
}

#logoImage {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.7));
}

#buttonsContainer {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#buttonsContainer button {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;

    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(51, 76, 135);
    border: none;
    color: rgb(207, 215, 255);

    border-radius: 4px;
}

#buttonsContainer button .material-icons {
    margin-right: 8px;
}

#buttonsContainer button .text {
    flex: 1;
    font-weight: bold;
}

#checkboxContainer {
    margin-bottom: 15px;
}

#rightPanel {
    background-color: rgb(29, 29, 42);

    width: 30%;
}