/* GENERAL */
body {
    background-color: rgb(22, 22, 30);
    margin: 0;
    color: rgb(146, 150, 195);
    /*rgb(120, 124, 163);*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

/* TITLE BAR */
.title-bar {
    font-size: 90%;
    height: 30px;
    width: 100%;
    background-color: rgb(22, 22, 30);
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* TODO: ADD BORDERS TO THE TITLE BAR AND FOOTER WITHOUT MAKING THE WINDOW SCOLLABLE */
.title-bar, #footer {
    border-color: rgb(19, 19, 25);
    border-width: 3px;
    border-style: solid;
}

#documentName {
    text-align: center;
    position: fixed;
    left: 50%;
}

#simplifiedLogoImage {
    width: 25px;
    height: auto;
    margin-right: 5px;
    margin-left: auto;
    margin-right: 10px;
}


/* MAIN AND MISC. */
main 
{
    flex: 1;
    border: none;
    display: flex;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.resizer {
    background-color: rgb(19, 19, 25);
}

.resizer[data-direction='horizontal'] {
    cursor: ew-resize;
    height: 100%;
    width: 3px;
}
.resizer[data-direction='vertical'] {
    cursor: ns-resize;
    height: 3px;
    width: 100%;
}

/* SIDE PANEL */
#sidePanel {
    width: 17%;
    min-width: 10%;
    max-width: 40%;

    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#folderStructureLabel, #fileStructureLabel {
    width: auto;
    white-space: nowrap;
    margin-right: 5%;
}

#folderStructureLabel i, #fileStructureLabel i {
    margin-right: 7px;
}

#folderTreePanel, #structureTreePanel {
    width: 100%;
    height: 90%;
    min-height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tree {
    width: 100%;
    height: 100%;
    /*background-color: rgb(26, 27, 38);*/
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

    overflow-y: auto;
    overflow-x: hidden;
}

.tree .file-tex:hover, .tree .file-pdf:hover {
    background-color: rgb(61, 89, 161);
}

.tree .file-tex, .tree .file-pdf {
    margin-right: 10px;
}

.tree .file-other {
    color: #8b8b8b;
}

.tree li {
    list-style-type: none;
}

#folderManagementBar, #structureManagementBar {
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    flex-wrap: wrap;
    width: 100%;
}

#folderManagementBar button, #codeCompileBar button {
    border-radius: 12%;
    margin: 5px;
    background-color: rgb(51, 76, 135);
    border: none;
    outline: none;
    color: #fff;
}

#reloadFolderBtn {
    background-color: transparent !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 20px;
    height: 20px;
}

#reloadFolderBtn .fa-folder-tree {
    display: inline;
}

#reloadFolderBtn .fa-arrow-rotate-right {
    display: none;
}

#reloadFolderBtn:hover .fa-folder-tree {
    display: none;
}

#reloadFolderBtn:hover .fa-arrow-rotate-right {
    display: inline;
}

#codeCompileBar button:disabled {
    background-color: rgb(90, 92, 98);
}

#folderManagementBar button:active, #codeCompileBar button:active {
    background-color: rgb(43, 45, 79);
}

#structureTreePanel {
    flex: 1;
    height: 100%;
    width: 100%;

    min-height: 20%;
}

#structureTree i {
    position: relative;
    margin-right: 5px;
}


/* DEVELOPMENT PANEL */
#devAndFooterContainer {
    /* Take the remaining width */
    flex: 1;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#developmentPanel {
    width: 100%;
    height: 100%;
    display: flex;
}

#codeAndBarPanel {
    width: 50%;
    min-width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#codeEditorPanel {
    width: 100%;
    height: 100%;

    background-color: rgb(30, 31, 45);
    color: #fff;/*rgb(122, 162, 247);*/
    border: none;
    outline: none;
    resize: none;

    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 14px;
}

code-input {
    width: 100%;
    height: 100%;

    margin: 0px !important;
    padding: 0px !important;

    font-size: 15px;
}

#codeCompileBar {
    height: 40px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pdfViewerPanel {
    /* Take the remaining width */
    flex: 1;
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: center;

    min-width: 20%;
}

iframe {
    width: 100%;
    height: 100%;
}

viewer-pdf-toolbar {
    display: none !important;
}


/* FOOTER */
#footer {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#lineCountLabel, #elementsVersionLabel {
    text-align: right;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
    font-size: medium;
}

#elementsVersionLabel {
    margin-left: auto;
}

#footer button {
    border-radius: 12%;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(146, 150, 195);

    width: 15px;
    height: 15px;

    font-size: larger;
    margin-right: 20px;
}

#footer button[state="open"] i:first-child {
    display: inline;
}

#footer button[state="open"] i:last-child {
    display: none;
}

#footer button[state="closed"] i:first-child {
    display: none;
}

#footer button[state="closed"] i:last-child {
    display: inline;
}

#footer .label {
    margin-top: 2px;
}